<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="sqlServerDataSource" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.search.db.dao" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://192.168.1.221:3306/jobcloud?characterEncoding=UTF-8" />
        <property name="username" value="root" />
        <property name="password" value="jimocun" />
        
        <property name="maxActive">
   			<value>100</value>
  		</property>
  		<property name="maxIdle">
   			<value>50</value>
  		</property>
  		<property name="maxWait">
   			<value>10000</value>
  		</property>

  		<property name="timeBetweenEvictionRunsMillis">
   			<value>3600000</value>
  		</property>
  		<property name="testWhileIdle">
   			<value>true</value>
  		</property>
  		<property name="validationQuery">
   			<value>select 1 from dual</value>
  		</property>
    </bean>
    
    <bean id="azureServerDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://gg.database.chinacloudapi.cn:1433;database=workspace;"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="5"/>
        <property name="maxIdle" value="20"/>
        <property name="maxActive" value="100"/>
        <property name="maxWait" value="1000"/>
        <property name="defaultAutoCommit" value="false"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="600"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="numTestsPerEvictionRun" value="20"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>
         
    <bean id="sqlServerDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://SPRING-PC\\SQLEXPRESS:1433;database=myjob;"/>
        <property name="username" value="sa"/>
        <property name="password" value="123456"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="5"/>
        <property name="maxIdle" value="20"/>
        <property name="maxActive" value="100"/>
        <property name="maxWait" value="1000"/>
        <property name="defaultAutoCommit" value="false"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="600"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="numTestsPerEvictionRun" value="20"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>
    
 </beans>
